<!-- navigation links -->
<h1 align="center">AGQ Labs USA</h1>
<h2 align="center">Sampling Calendar</h2>
<%= link_to "Locations", locations_path %> | <%= link_to "Calendar", days_path %>

<!-- calendar -->
<table border="1" align="center">

  <thead>
    <tr class="tableHeadDescription">
      <th>Date</th>
      <th>Samples Scheduled</th>
      <th>Total Sampling Time</th>
      <th>Locations Scheduled</th>
      <th>Total Travel Time</th>
      <th>Total Time</th>
      <th>Actions</th>
    </tr>
    <tr class='tableHeadLabel'>
      <th></th>
      <th>(total)</th>
      <th>(hrs)</th>
      <th>(total)</th>
      <th>(hrs)</th>
      <th>(hrs)</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<!-- using distance-matrix API, should be directions API! :/ -->
    <% origin = ERB::Util.url_encode("36.058241, -119.053045") %>
    <% @dates.each do |date| %>
      <% time = 0.00 %>
      <% duration = 0.00 %>
      <% destinations = date.locations.where(id: date.appointments.pluck(:location_id)).map{|x| [x.latitude, x.longitude].join(',')}.join('|') %>
      <% dest = ERB::Util.url_encode(destinations) %>
      <% url = "https://maps.googleapis.com/maps/api/directions/json?origin=#{origin}&destinations=#{origin}&waypoints=optimize:true|#{dest}&key=AIzaSyAtEhW3fIf9xkfpRZ8f_HEkV3pk2zxqsvI" %>
      <% uri = URI(url) %>
      <% unless destinations.blank? %>
        <% puts url.inspect %>
        <% dist_json = ActiveSupport::JSON.decode(Net::HTTP.get(uri)) %>
        <% dist_json["routes"].each do |section| %>
          <% section["legs"].each do |json| %>
            <% json.each do |k,v| %>
              <% v.each do |kv| %>
                <% duration = kv["duration"]["value"] if kv["duration"] != nil%>
                <% if duration != nil %>
                  <% duration = duration/(60*60) %>
                  <% time = duration + time %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <tr>
        <td><%= date.date %></td>
        <td><%= date.appts_pulls_sum if date.appts_pulls_sum !=0 %></td>
        <td><%= date.appts_pulls_sum*0.5 if date.appts_pulls_sum !=0 %></td>
        <td><%= date.appts_count if date.appts_count !=0 %></td>
        <td><%= time if time !=0 %></td>
        <td><% total_time = date.appts_pulls_sum*0.5 + time %>
            <%= total_time if total_time != 0.0 %></td>
        <td><%= link_to 'Schedule', day_path(date)  %></td>

        <!-- troubleshooting easter egg -->
        <!-- <td><pre><%= dist_json %></pre></td> -->

      </tr>
    <% end %>
  </tbody>

</table>
