<!-- navigation links -->
<h1>AGQ Labs USA</h1><h2>Sampling Calendar</h2>
<%= link_to "Locations", locations_path %> | <%= link_to "Dates/Calendar", days_path %>
<hr>

<!-- calendar of all appointments -->
<h1><font color="blue">Calendar</font></h1>
<table border="1" align="center">
  <tbody align="center">
    <tr>
      <th>Number of Samples</th>
      <th>Date</th>
      <th>Client</th>
      <th>City</th>
      <th>Ranch/Field ID</th>
      <th>Grower</th>
      <th>Site/Block ID</th>
      <th>Variety</th>
      <th>Acres</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>

    <% @appointment.each do |appointment| %>
    <tr>
      <td><%= appointment.pulls %></td>
      <td>&nbsp&nbsp<%= appointment.day.date %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= appointment.location.client %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= appointment.location.city %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= appointment.location.ranchfield %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= appointment.location.grower %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= appointment.location.siteblock %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= appointment.location.variety %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= appointment.location.acres %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= appointment.location.latitude %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= appointment.location.longitude %>&nbsp&nbsp</td>
    </tr>
    <% end %>
  </tbody>
</table>
<br />
<hr>

<!-- actions -->
<h2><font color="green">Add Dates</font></h2>

  <h3>&#x2219 <%= link_to 'Manually', new_day_path %></h3>

  <h3>&#x2219 Import CSV</h3>
    <%= form_tag import_days_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload" %>
  <% end %> <br />
<hr>

<!-- display all dates -->
<h2><font color="green">Index of all Dates</font></h2>
  <table border="1" align="center">
    <tbody align="center">
      <tr>
        <th>Date</th>
        <th>Samples Scheduled<br />(total)</th>
        <th>Total Sampling Time<br />(hrs)</th>
        <th>Locations Scheduled<br />(total)</th>
        <th>Total Travel Time<br />(hrs)</th>
        <th>Total Time (Sampling + Travel)<br />(hrs)</th>
        <th>Actions</th>
      </tr>

      <% @dates.each do |date| %>
      <tr>
        <td>&nbsp&nbsp<%= date.date %>&nbsp&nbsp</td>
        <td></td>
        <td></td>
        <td><%= date.appointments.size %></td>
        <td></td>
        <td></td>
        <td>&nbsp&nbsp<%= link_to 'Schedule', day_path(date)  %>&nbsp&nbsp</td>
      </tr>
    <% end %>

    </tbody>
  </table>
