<!-- navigation links -->
<h1 align="center">AGQ Labs USA</h1>
<h2 align="center">Sampling Calendar</h2>
<%= link_to "Locations", locations_path %> | <%= link_to "Calendar", days_path %>

  <table border="1" align="center">
      <thead>
        <tr class="tableHeadDescription">
          <th>Date</th>
          <th>Samples Scheduled</th>
          <th>Total Sampling Time</th>
          <th>Locations Scheduled</th>
          <th>Total Travel Time</th>
          <th>Total Time</th>
          <th>Actions</th>
        </tr>
        <tr class='tableHeadLabel'>
          <th></th>
          <th>(total)</th>
          <th>(hrs)</th>
          <th>(total)</th>
          <th>(hrs)</th>
          <th>(hrs)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @dates.each do |date| %>
          <tr>
            <td><%= date.date %></td>
            <td><%= date.appts_pulls_sum %></td>
            <td><%= date.appts_pulls_sum*0.5 %></td>
            <td><%= date.appts_count %></td>
            <td></td>
            <td></td>
            <td><%= link_to 'Schedule', day_path(date)  %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
