<h1>AGQ Labs Sampling Calendar</h1> <br />

<h2><font color="blue">Add Dates:</font></h2>

<h3>&#x2219 <%= link_to 'Manually', new_day_path %></h3>

<h3>&#x2219 Import<font color="red"> CSV</font></h3>
  <%= form_tag import_days_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Days" %>
<% end %> <br />


<h2><font color="blue">Index of all dates:</font></h2>

<% @dates.each do |date| %>
    <p>
      <%= date.date %> |
      |<%= link_to 'Add/Remove Locations', day_path(date)  %>
<!--      <%= link_to 'Destroy', date, method: :delete %> <br /> -->


    </p>

<% end %>
