<!--heading-->
<h1>Day Schedule</h1>
<%= link_to 'Go back', days_path %>
<hr>

<!--record specification-->
<table border="1">
  <tr>
    <th>Date</th>
  </tr>
  <tr>
    <td><%= @date.date %></td>
  </tr>
</table>
<hr>

<!--make new associations?-->
<h3><font color=blue>Add locations to this date</font></h3>
  <%= simple_form_for @date do |f| %>
    <%= f.association :locations, as: :check_boxes, label_method: :cb_label, value_method: :id %><br />
    <%= f.button :submit, 'Assign to this date' %>
  <% end %>
<hr>

<!--association display-->
<h3><font color=blue>Locations already assigned</font></h3>

<% if @date.locations.size > 0 %>
  <table border="1">
    <tr>
      <th>Client</th>
      <th>City</th>
      <th>Ranch/Field ID</th>
      <th>Grower</th>
      <th>Site/Block ID</th>
      <th>Variety</th>
      <th>Acres</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Actions</th>
    </tr>

  <% @date.locations.each do |location| %>
    <tr>
        <td><%= location.client %></td>
        <td><%= location.city %></td>
        <td><%= location.ranchfield %></td>
        <td><%= location.grower %></td>
        <td><%= location.siteblock %></td>
        <td><%= location.variety %></td>
        <td><%= location.acres %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
      </tr>
  <% end %>

  <% else %>
    ...Such an empty day<br />
<% end %>
