<!--heading-->
<h1>Schedule</h1>
<%= link_to 'Go back', days_path %>


<!--record specification-->
<div class="dayTitle">
  <h1>Date</h1>
  <h1 class='red'><%= @date.date %></h1>
</div>

<!-- Summary of Schedule -->
<table border="1" align="center">
  <thead>
    <tr class="tableHeadDescription">
      <th>  Samples Scheduled  </th>
      <th>  Total Sampling Time</th>
      <th>  Locations Scheduled  </th>
      <th>  Total Travel Time</th>
      <th>  Total Time (Sampling + Travel)</th>
    </tr>
    <tr class="tableHeadLabel">
      <th> (total) </th>
      <th> (hrs) </th>
      <th> (total) </th>
      <th> (hrs) </th>
      <th> (hrs) </th>
    </tr>
  </thead>
  <tbody align="center">
    <tr>
      <td><%= @date.appointments.sum(:pulls) %></td>
      <td><%= @date.appointments.sum(:pulls)*0.5 %></td>
      <td><%= @date.appointments.size %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br />

<!--association display-->
<h1 align="center">Details</h1>

<% if @date.locations.size > 0 %>

    <table border="1" align="center">
      <thead>
        <tr>
          <th>  Number of Samples  </th>
          <th>  Date  </th>
          <th>  Client  </th>
          <th>  City  </th>
          <th>  Ranch/Field ID  </th>
          <th>  Grower  </th>
          <th>  Site/Block ID  </th>
          <th>  Variety  </th>
          <th>  Acres  </th>
          <th>  Latitude  </th>
          <th>  Longitude  </th>
        </tr>
      </thead>
      <tbody align="center">
        <% @appointment.each do |appointment| %>
        <tr>
          <td><%= appointment.pulls %></td>
          <td><%= @date.date %></td>
          <td><%= appointment.location.client %></td>
          <td><%= appointment.location.city %></td>
          <td><%= appointment.location.ranchfield %></td>
          <td><%= appointment.location.grower %></td>
          <td><%= appointment.location.siteblock %></td>
          <td><%= appointment.location.variety %></td>
          <td><%= appointment.location.acres %></td>
          <td><%= appointment.location.latitude %></td>
          <td><%= appointment.location.longitude %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <p class='red' align="center">No scheduled samplings for this day yet...</p>
  <% end %><br />
  <hr>

  <!--make new associations?-->
<div class='updateAppointments'>
  <h2><span class='red'>All Scheduled Locations </span>(for this day)</h2>
  Checkboxes are marked for every location scheduled. <br />
  To add: &#10004 SUBMIT<br />
  To remove:  &#x25A2 SUBMIT<br /><br />

    <%= simple_form_for @date do |f| %>
        <%= f.association :locations, as: :check_boxes, collection: @locations, label_method: :cb_label, value_method: :id %><br />
        <%= f.button :submit, 'Update' %>
    <% end %><br />

  </div>
