<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :sample_time %><br>
    <%= f.text_field :sample_time %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :ranch %><br>
    <%= f.text_field :ranch %>
  </div>
  <div class="field">
    <%= f.label :field %><br>
    <%= f.text_field :field %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :grower %><br>
    <%= f.text_field :grower %>
  </div>
  <div class="field">
    <%= f.label :block_id %><br>
    <%= f.text_field :block_id %>
  </div>
  <div class="field">
    <%= f.label :variety %><br>
    <%= f.text_field :variety %>
  </div>
  <div class="field">
    <%= f.label :acres %><br>
    <%= f.text_field :acres %>
  </div>
  <div class="field">
    <%= f.label :client %><br>
    <%= f.text_field :client %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
