<!-- navigation links -->
<h1>AGQ Labs USA</h1><h2>Sampling Calendar</h2>
<%= link_to "Locations", locations_path %> | <%= link_to "Dates/Calendar", days_path %>
<hr>

<!-- actions -->
<h2><font color="green">Add Locations</font></h2>

  <h3>&#x2219 <%= link_to 'Manually', new_location_path %></h3>

  <h3>&#x2219 Import CSV</h3>
    <%= form_tag import_locations_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload" %>
  <% end %> <br />
<hr>

<!-- display all locations-->
<h2><font color="green">Index of all Locations</font></h2>

<table border="1">
  <tr>
    <th>Client</th>
    <th>City</th>
    <th>Ranch/Field ID</th>
    <th>Grower</th>
    <th>Site/Block ID</th>
    <th>Variety</th>
    <th>Acres</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Actions</th>
  </tr>

<% @locations.each do |location| %>
  <tr>
      <td>&nbsp&nbsp<%= location.client %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= location.city %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= location.ranchfield %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= location.grower %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= location.siteblock %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= location.variety %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= location.acres %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= location.latitude %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= location.longitude %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp(<%= link_to 'Edit', edit_location_path(location) %> | <%= link_to 'Destroy', location, method: :delete %>) |
      <%= link_to 'Schedule', location_path(location)  %>&nbsp&nbsp</td>
   </tr>
    <% end %>
</table>
