<!-- navigation links -->
<h1 align="center">AGQ Labs USA</h1>
<h2 align="center">Sampling Calendar</h2>
<%= link_to "Locations", locations_path %> | <%= link_to "Calendar", days_path %>
<br /><br /><br />

<!-- actions -->
<h2 align="center"><font color="green">Add Locations</font></h2>

  <h3 align="center"><%= link_to 'Manually', new_location_path %></h3>

  <div class = "center form-actions">
      <%= form_tag import_locations_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Upload" %>
  </div>
  <% end %> <br />
<br /><br /><br />

<!-- display all locations-->
<h2 align="center"><font color="green">Index of all Locations</font></h2>

<table border="1" align="center">
  <tbody align="center">
    <tr>
      <th>&nbsp&nbsp  Client  &nbsp&nbsp</th>
      <th>&nbsp&nbsp  City  &nbsp&nbsp</th>
      <th>&nbsp&nbsp  Ranch/Field ID  &nbsp&nbsp</th>
      <th>&nbsp&nbsp  Grower  &nbsp&nbsp</th>
      <th>&nbsp&nbsp  Site/Block ID  &nbsp&nbsp</th>
      <th>&nbsp&nbsp  Variety  &nbsp&nbsp</th>
      <th>&nbsp&nbsp  Acres  &nbsp&nbsp</th>
      <th>&nbsp&nbsp  Latitude  &nbsp&nbsp</th>
      <th>&nbsp&nbsp  Longitude  &nbsp&nbsp</th>
      <th>&nbsp&nbsp  Actions  &nbsp&nbsp</th>
    </tr>

  <% @locations.order(client: :asc).each do |location| %>
    <tr>
        <td><%= location.client %></td>
        <td><%= location.city %></td>
        <td><%= location.ranchfield %></td>
        <td><%= location.grower %></td>
        <td><%= location.siteblock %></td>
        <td><%= location.variety %></td>
        <td><%= location.acres %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %><br />
          <%= link_to 'Destroy', location, method: :delete %><br />
          <%= link_to 'Schedule', location_path(location)  %></td>
     </tr>
      <% end %>
    </tbody>
  </table>
