AGQ Labs Sampling Locations <br />

<%= link_to 'Add Location', new_location_path %>

<%= @locations.each do |f| %>
    <p>

      Client: <%= f.client %><br />
      City: <%= f.city %><br />
      Ranch/field ID: <%= f.ranchfield %><br />
      Grower: <%= f.grower %><br />
      Site/block ID: <%= f.siteblock %><br />
      Variety: <%= f.variety %><br />
      Acres: <%= f.acres %><br />
      Latitude: <%= f.latitude %><br />
      Longitude: <%= f.longitude %><br />

    </p>
<% end %>
