<h1>Create a Sampling Location</h1> <br />

<br />

<%= form_for @location do |f| %>

<%= f.label :client %> <br />
<%= f.text_field :client %> <br />

<%= f.label :city %> <br />
<%= f.text_field :city %> <br />

<%= f.label :ranchfield %> <br />
<%= f.text_field :ranchfield %> <br />

<%= f.label :grower %> <br />
<%= f.text_field :grower %> <br />

<%= f.label :siteblock %> <br />
<%= f.text_field :siteblock %> <br />

<%= f.label :variety %> <br />
<%= f.text_field :variety %> <br />

<%= f.label :acres %> <br />
<%= f.text_field :acres %> <br />

<%= f.label :latitude %> <br />
<%= f.text_field :latitude %> <br />

<%= f.label :longitude %> <br />
<%= f.text_field :longitude %> <br />

<%= f.submit 'Submit'%> <br />


<% end %>
