<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @location.id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Sample time:</strong>
  <%= @location.sample_time %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Ranch:</strong>
  <%= @location.ranch %>
</p>

<p>
  <strong>Field:</strong>
  <%= @location.field %>
</p>

<p>
  <strong>Site:</strong>
  <%= @location.site %>
</p>

<p>
  <strong>Grower:</strong>
  <%= @location.grower %>
</p>

<p>
  <strong>Block:</strong>
  <%= @location.block_id %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @location.variety %>
</p>

<p>
  <strong>Acres:</strong>
  <%= @location.acres %>
</p>

<p>
  <strong>Client:</strong>
  <%= @location.client %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
