<!--heading-->
<h1>Location Details</h1>
<%= link_to 'Go back', locations_path %>
<hr>

<!--record specification-->
<table border="1">
  <tr>
    <th>Client</th>
    <th>City</th>
    <th>Ranch/Field ID</th>
    <th>Grower</th>
    <th>Site/Block ID</th>
    <th>Variety</th>
    <th>Acres</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <tr>
    <td><%= @location.client %></td>
    <td><%= @location.city %></td>
    <td><%= @location.ranchfield %></td>
    <td><%= @location.grower %></td>
    <td><%= @location.siteblock %></td>
    <td><%= @location.variety %></td>
    <td><%= @location.acres %></td>
    <td><%= @location.latitude %></td>
    <td><%= @location.longitude %></td>
  </tr>
</table>
<hr>

<!--make new associations?-->
<h3><font color=blue>Schedule days for this location</font></h3>
<%= simple_form_for @location do |f| %>
  <%= f.association :days, as: :check_boxes, label_method: :date, value_method: :id %><br />
  <%= f.button :submit, 'Assign to this location' %>
<% end %>
<hr>

<!--associations display-->
<h3><font color=blue>Days scheduled for sampling</font></h3>

<% if @location.appointments.size > 0 %>
  <table border="1">
    <tr>
      <th>Date</th>
    </tr>

  <% @location.days.each do |day| %>
    <tr>
      <td><%= day.date %></td>
    <% end %>

  <% else %>
    ...Such a lonely location with no dates<br />

  <% end %>
