<!--heading-->
<h1>Location Details</h1>
<%= link_to 'Go back', locations_path %>
<br />
<br />
<!--record specification-->
<table border="1" align="center">
   <thead>
    <tr>
      <th>  Client  </th>
      <th>  City  </th>
      <th>  Ranch/Field ID  </th>
      <th>  Grower  </th>
      <th>  Site/Block ID  </th>
      <th>  Variety  </th>
      <th>  Acres  </th>
      <th>  Latitude  </th>
      <th>  Longitude  </th>
    </tr>
  </thead>
  <tbody align="center">
    <tr>
      <td><%= @location.client %></td>
      <td><%= @location.city %></td>
      <td><%= @location.ranchfield %></td>
      <td><%= @location.grower %></td>
      <td><%= @location.siteblock %></td>
      <td><%= @location.variety %></td>
      <td><%= @location.acres %></td>
      <td><%= @location.latitude %></td>
      <td><%= @location.longitude %></td>
    </tr>
  </tbody>
</table>
<br />

<!--associations display-->
<h2 align="center"><font color=blue>Days scheduled for sampling </font>(at this location)</h2><br />
  <% if @location.appointments.size > 0 %>
    <table border="1" align="center">
      <tr>
        <th>Date</th>
      </tr>
      <% @location.days.each do |day| %>
        <tr>
          <td><%= day.date %></td>
        </tr>
      <% end %>
      <% else %>
        ...Such a lonely location with no dates<br />
      <% end %>
    </table>
