<!--heading-->
<h1>Location Details</h1>
<%= link_to 'Go back', locations_path %>
<hr>

<!--record specification-->
<table border="1" align="center">
  <tbody align="center">
    <tr>
      <th><h2>&nbsp&nbsp  Client  &nbsp&nbsp</th></h2>
      <th><h2>&nbsp&nbsp  City  &nbsp&nbsp</th></h2>
      <th><h2>&nbsp&nbsp  Ranch/Field ID  &nbsp&nbsp</th></h2>
      <th><h2>&nbsp&nbsp  Grower  &nbsp&nbsp</th></h2>
      <th><h2>&nbsp&nbsp  Site/Block ID  &nbsp&nbsp</th></h2>
      <th><h2>&nbsp&nbsp  Variety  &nbsp&nbsp</th></h2>
      <th><h2>&nbsp&nbsp  Acres  &nbsp&nbsp</th></h2>
      <th><h2>&nbsp&nbsp  Latitude  &nbsp&nbsp</th></h2>
      <th><h2>&nbsp&nbsp  Longitude  &nbsp&nbsp</th></h2>
    </tr>
    <tr>
      <td>&nbsp&nbsp<%= @location.client %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= @location.city %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= @location.ranchfield %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= @location.grower %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= @location.siteblock %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= @location.variety %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= @location.acres %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= @location.latitude %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= @location.longitude %>&nbsp&nbsp</td>
    </tr>
  </tbody>
</table>

<!--associations display-->
<h2 align="center"><font color=blue>Days scheduled for sampling </font>(at this location)</h2>

<% if @location.appointments.size > 0 %>
  <table border="1" align="center">
    <tr>
      <th>Date</th>
    </tr>

  <% @location.days.each do |day| %>
    <tr>
      <td><%= day.date %></td>
    </tr>
    <% end %>
  </table>

  <% else %>
    ...Such a lonely location with no dates<br />

  <% end %>
<hr>

<!--change associations?-->
<h2><font color=blue>All Scheduled Days </font>(at this location)</h2>

Checkboxes are marked for every day this is scheduled. <br />
To add: &nbsp&nbsp&nbsp&nbsp &#10004 SUBMIT<br />
to remove:  &#x25A2 SUBMIT<br /><br />

<%= simple_form_for @location do |f| %>
  <%= f.association :days, as: :check_boxes, label_method: :date, value_method: :id %><br />
  <%= f.button :submit, 'Submit' %>
<% end %>
